doc/ping.xml TTL DETAILS

Actually, RFC 9293 has updated information about [TTL values](https://datatracker.ietf.org/doc/html/rfc9293#section-3.9.2):

Time to Live (TTL):  The TTL value used to send TCP segments MUST be
      configurable (MUST-49).

      *  Note that RFC 793 specified one minute (60 seconds) as a
         constant for the TTL because the assumed maximum segment
         lifetime was two minutes.  This was intended to explicitly ask
         that a segment be destroyed if it could not be delivered by the
         internet system within one minute.  RFC 1122 updated RFC 793 to
         require that the TTL be configurable.


@gregbo Thank you! Feel free to suggest exact text change.

I would be satisfied with changing the second paragraph to:

The TTL field for TCP packets may take various values.  For more information, see the [TCP/Lower-Level Interface](https://www.rfc-editor.org/rfc/rfc9293.html#name-tcp-lower-level-interface) section of RFC9293.

IMO, you can also omit the last sentence of the third paragraph, as telnet and ftp have been deprecated.